<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
        	<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          		Metal Hangers
        	</a>
      	</h5>
    </div>
	<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      	<div class="card-body">
        	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link" id="v-pills-PVC-tab" data-toggle="pill" href="#v-pills-PVC" role="tab" aria-controls="v-pills-PVC" aria-expanded="true">
                    Metal Coated Hangers (PVC)
                </a>
                <a class="nav-link" id="v-pills-AE-tab" data-toggle="pill" href="#v-pills-AE" role="tab" aria-controls="v-pills-AE" aria-expanded="true">
                    Metal Coated Hangers (AE)
                </a>
                <a class="nav-link" id="v-pills-chrome-tab" data-toggle="pill" href="#v-pills-chrome" role="tab" aria-controls="v-pills-chrome" aria-expanded="true">
                    Chrome Hangers
                </a>
                <a class="nav-link" id="v-pills-aluminum-tab" data-toggle="pill" href="#v-pills-aluminum" role="tab" aria-controls="v-pills-aluminum" aria-expanded="true">
                    Aluminum Hangers
                </a>
            </div>
      	</div>
    </div>
</div>