<div class="tab-pane fade" id="v-pills-PVC" role="tabpanel" aria-labelledby="v-pills-PVC-tab">
    Metal Coated (PVC) Hangers
</div>
<div class="tab-pane fade" id="v-pills-AE" role="tabpanel" aria-labelledby="v-pills-AE-tab">
    Metal Coated (AE) Hangers
</div>
<div class="tab-pane fade" id="v-pills-chrome" role="tabpanel" aria-labelledby="v-pills-chrome-tab">
    Chrome Hangers
</div>
<div class="tab-pane fade" id="v-pills-aluminum" role="tabpanel" aria-labelledby="v-pills-aluminum-tab">
    Aluminum Hangers
</div>