<div class="tab-pane fade" id="v-pills-plastic" role="tabpanel" aria-labelledby="v-pills-plastic-tab">
    Plastic Hangers
</div>
<div class="tab-pane fade" id="v-pills-crystal" role="tabpanel" aria-labelledby="v-pills-crystal-tab">
    Crystal Hangers
</div>