<div class="tab-pane fade" id="v-pills-flat" role="tabpanel" aria-labelledby="v-pills-flat-tab">
    Flat Wooden Hangers
</div>
<div class="tab-pane fade" id="v-pills-topcut" role="tabpanel" aria-labelledby="v-pills-topcut-tab">
    Top Cut Wooden Hangers
</div>
<div class="tab-pane fade" id="v-pills-curved" role="tabpanel" aria-labelledby="v-pills-curved-tab">
    Curved Hangers
</div>
<div class="tab-pane fade" id="v-pills-contour" role="tabpanel" aria-labelledby="v-pills-contour-tab">
    Contour Hangers
</div><div class="tab-pane fade" id="v-pills-angle" role="tabpanel" aria-labelledby="v-pills-angle-tab">
    Angle Curved Hangers
</div>
<div class="tab-pane fade" id="v-pills-crescent" role="tabpanel" aria-labelledby="v-pills-crescent-tab">
    Crescent Hangers
</div>
<div class="tab-pane fade" id="v-pills-tiebelt" role="tabpanel" aria-labelledby="v-pills-tiebelt-tab">
    Tie & Belt Hangers
</div>
<div class="tab-pane fade" id="v-pills-extrashoulder" role="tabpanel" aria-labelledby="v-pills-extrashoulder-tab">
    Extra Shoulder Hangers
</div><div class="tab-pane fade" id="v-pills-deluxe" role="tabpanel" aria-labelledby="v-pills-deluxe-tab">
    Deluxe Wooden Hangers
</div>
<div class="tab-pane fade" id="v-pills-trousers" role="tabpanel" aria-labelledby="v-pills-trousers-tab">
    Trousers Hangers
</div>
<div class="tab-pane fade" id="v-pills-laminated" role="tabpanel" aria-labelledby="v-pills-laminated-tab">
    Laminated Hangers
</div>
<div class="tab-pane fade" id="v-pills-padded" role="tabpanel" aria-labelledby="v-pills-padded-tab">
    Padded Hangers
</div>