{{> nav }}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
			<div id="accordion" role="tablist">
  				{{> MetalHangersMenu}}
  				{{> WoodHangersMenu}}
  				{{> PlasticHangersMenu}}
			</div>
		</div>
		<div class="tab-content" id="v-pills-tabContent">
			{{> MetalHangersItems}}
			{{> WoodHangersItems}}
			{{> PlasticHangersItems}}
        </div>
  	</div>	
</div>
</div>