{{> nav }}

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
  				<a class="nav-link" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-expanded="true">
  					Metal
  				</a>
  				<a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">
  					Wood
  				</a>
  				<a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">
  					Plastic
  				</a>
			</div>
		</div>
		<div class="col-lg-9">	
			<div class="tab-content" id="v-pills-tabContent">
  			<div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
  				These are Metal Hangers
  			</div>
  			<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  				These are Wood Hangers
  			</div>
  			<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
  				These are plastic Hangers
  			</div>
  		</div>	
  	</div>	
</div>
</div>