{{> nav }}

<div class="container">
	<h1>Request A Quote</h1>
	<small>
		Use this simple form to have a member of our staff contact you within 48 hours.
	</small>
	<br>
	<br>
	<form>
		<div class="col-lg-6 form-group">
    		<label>Name</label>
    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="John Doe">
  		</div>
  		<div class="col-lg-6 form-group">
    		<label>Company</label>
    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company Name">
  		</div>
  		<div class="col-lg-6 form-group">
    		<label>Phone</label>
    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="XXX-XXX-XXXX">
  		</div>
  		<div class="col-lg-6 form-group">
    		<label>Email address</label>
    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  		</div>
  		<div class="form-group">
  			<label for="comment">Additional Information / Comments:</label>
  			<textarea class="form-control" rows="5" id="comment"></textarea>
  			<small id="commentHelp" class="form-text text-muted">Enter any comments or information here</small>
		</div>
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>